HTML, body {
    width: 250px; /* sets popup window to specific width and height */
    height: 300px;
    background-color: #222;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
  
.container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
  
  /* Health Bar */
.health-label {
    font-size: 12px;
    font-weight: bold;
    color: #ccc;
    margin-bottom: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

  /* Health-Bar-Container */
.health-bar-container {
    width: 220px;
    height: 25px;

    border: 3px solid #3b4268;
    background-color: #c0c0c0;

    position: relative;
    box-shadow: 2px 2px 0px #000;
}

.health-bar-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: repeating-linear-gradient(90deg, transparent 0px, transparent 9px, #3b4268 10px);

    background-image:
        repeating-linear-gradient(90deg, transparent 0px, transparent 9px, #3b4268 10px),
        repeating-linear-gradient(0deg, transparent 0px, transparent 4px, rgba(59, 66, 104, 0.2) 5px);

        z-index: 2;
        pointer-events: none;
}

.health-bar-fill {
    width: 0%; /* JS will change this */
    height: 100%;
    
    /* 3. The Gradient Color (Red -> Yellow -> Green) */
    background: linear-gradient(to right, 
        #ff3333 0%,    /* Red start */
        #ffeb3b 50%,   /* Yellow middle */
        #4CAF50 100%   /* Green end */
    );
    
    transition: width 0.5s ease-in-out;
}


.dog-sprite {
    /* WINDOW SIZE */
    width: 256px; 
    height: 256px; 
  
    background-image: url('Assets/Scrollagotchi_Sprites.png'); 
    background-repeat: no-repeat;
    
    /* ANIMATION SPEED */
    /* steps(4) means "snap 4 times" */
    animation: walk-animation 0.8s steps(4) infinite; 
    
    image-rendering: pixelated;
    
    transform: scale(0.7);

    background-position: center;
  }
  
  /* Neutral State (20% - 50% Health */

.dog-sprite.neutral {
    background-image: url('Assets/Scrollagotchi_Neutral.png');

    animation: none;

    background-size: contain;
    background-position: center bottom;
}

.dog-sprite.sad {
    background-image: url('Assets/Scrollagotchi_Sad.png');

    animation: none;

    background-size: contain;
    background-position: center bottom;
}

  /* ANIMATION LOGIC */
  @keyframes walk-animation {
    from { 
      background-position: 0px; 
    }
    to { 
      background-position: -1024px; 
    }
  }
  
  .controls p {
    font-size: 10px;
    color: #888;
    margin-top: 5px;
  }